name: Validate

permissions: {}

on:
  workflow_dispatch:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  validate:
    name: Validate
    uses: grafana/xk6/.github/workflows/extension-validate.yml@7275fd9bc5ecd78ab35559c2bf231d983906520b # v1.3.3
    permissions:
      pages: write
      id-token: write
      contents: read
    with:
      go-version: "1.25.x"
      go-versions: '["1.25.x","1.24.x"]'
      golangci-lint-version: "v2.4.0"
      platforms: '["ubuntu-latest", "windows-latest", "macos-latest"]'
      k6-versions: '["v1.3.0", "v1.0.0"]'
      xk6-version: "1.2.3"
      bats: test
